* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

html {
  font-size: 16px;
  letter-spacing: -.03em;
  color: #212529;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  background-color: #f1f3f6;
}

header {
  height: 200px;
}

/*.log_img {*/
/*  background-image: url("../assets/belly-g5dad91a63_1920.jpg");*/
/*  width: 100%;*/
/*  height: 100%;*/
/*}*/

section {
  width: 400px;
  background-color: #fff;
  margin: 20px auto auto;
}

h1 {
  width: 400px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  margin-bottom: 3em;
  color: #101010;
  letter-spacing: -.05em;
}

h2 {
  width: 400px;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.5;
  margin-bottom: 3em;
  color: #101010;
  letter-spacing: -.05em;
}

label {
  display: block;
  width: 100%;
  font-size: 12px;
  line-height: 16px;
}

.user_id input {
  display: block;
  width: 400px;
  height: 44px;
  padding: 0 12px;
  border-radius: 7px;
  font-size: 16px;
  border: 1px solid #d3dce6;
  transition: border-color 200ms ease-in-out;
  margin-bottom: 10px;
}

.user_id input:focus,
.user_id input:hover,
.user_id input:active {
  outline: none;
  box-shadow: none;
  border-color: #1fb6ff;
}

.user_password input {
  display: block;
  width: 400px;
  height: 44px;
  padding: 0 12px;
  border-radius: 7px;
  font-size: 16px;
  border: 1px solid #d3dce6;
  transition: border-color 200ms ease-in-out;
  margin-bottom: 10px;
}

.user_password input:focus,
.user_password input:hover,
.user_password input:active {
  outline: none;
  box-shadow: none;
  border-color: #1fb6ff;
}

.button input {
  display: block;
  width: 400px;
  height: 44px;
  padding: 0 12px;
  border-radius: 7px;
  font-size: 16px;
  border: 1px solid #d3dce6;
  margin-bottom: 10px;
  background-color: #609ae9;
  color: #fff;
}

.login_button {
  margin-top: 30px;
}

.button input:focus,
.button input:hover,
.button input:active {
  outline: none;
  box-shadow: none;
  /*border-color: #1fb6ff;*/
  background-color: #3e85e4;
}
