* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

html {
  font-size: 16px;
  letter-spacing: -.03em;
  color: #212529;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1534438327276-14e5300c3a48?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80") ;
  background-size: cover;
  background-position: center;
  background-color: #f1f3f6;
}

header {
  height: 100px;
}

h1 {
  width: 400px;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.5;
  /*margin-bottom: 3em;*/
  color: #ffffff;
  letter-spacing: -.05em;
  text-shadow:1px 1px 1px #000;
}

section {
  background-color: #fff;
  margin: 20px auto auto;
  box-shadow: 0 0 5px gray;
  padding: 50px;
  border-radius: 7px;
}

h2 {
  /*width: 400px;*/
  font-weight: 400;
  font-size: 32px;
  line-height: 1.5;
  margin-bottom: 3em;
  color: #101010;
  letter-spacing: -.05em;
}

.user_id input {
  display: block;
  width: 400px;
  height: 44px;
  padding: 0 12px;
  border-radius: 7px;
  font-size: 16px;
  border: 1px solid #d3dce6;
  transition: border-color 200ms ease-in-out;
  margin-bottom: 10px;
}

.user_id input:focus,
.user_id input:hover,
.user_id input:active {
  outline: none;
  box-shadow: none;
  border-color: #1fb6ff;
}

.user_password input {
  display: block;
  width: 400px;
  height: 44px;
  padding: 0 12px;
  border-radius: 7px;
  font-size: 16px;
  border: 1px solid #d3dce6;
  transition: border-color 200ms ease-in-out;
  margin-bottom: 10px;
}

.user_password input:focus,
.user_password input:hover,
.user_password input:active {
  outline: none;
  box-shadow: none;
  border-color: #1fb6ff;
}

.button input {
  display: block;
  width: 400px;
  height: 44px;
  padding: 0 12px;
  border-radius: 7px;
  font-size: 16px;
  border: 1px solid #d3dce6;
  margin-bottom: 10px;
  background-color: #609ae9;
  color: #fff;
}

.login_button {
  margin-top: 30px;
}

.button input:focus,
.button input:hover,
.button input:active {
  outline: none;
  box-shadow: none;
  /*border-color: #1fb6ff;*/
  background-color: #3e85e4;
}
